node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
apinpc.code-workspace
.code-workspace
.streamlit
/Users/shaanp/Documents/GitHub/apinpc/.streamlit
.streamlit/secrets.toml
.streamlit/secrets.toml.local
.streamlit/secrets.toml.production.local
.streamlit/secrets.toml.test.local
.streamlit/secrets.toml.development.local
.streamlit/secrets.toml.production
.streamlit/secrets.toml.test
.streamlit/secrets.toml.development
.streamlit/secrets.toml.production.local
.streamlit/secrets.toml.test.local
.streamlit/secrets.toml.development.local
lot
venv
/Users/shaanp/Documents/GitHub/apinpc/lot
cache
